<h1>Release Details</h1>
<div><%= link_to "Approve Release", admin_approve_release_path(@release) %></div>
<div id="release_approval">
  Notes for user: <br />
  <%= form_tag 'email_user_release_notes' do %>
    <%= hidden_field_tag 'id', @release.id %>
    <%= text_area_tag 'notes' %>
    <span id="email_release"><%= submit_tag 'Message User' %></span>
  <% end %>
</div>
<h2><%= @release.headline %></h2>
<h2><%= @release.sub_headline %></h2>


<div id="release_preview_right">


  <div id="release_link">
    <%= @release.link %>
  </div>

  <div id="release_contact_info">
    <%= @release.user.full_name %><br />
    555-1212<br />
    <%= @release.user.email%><br />
  </div>

  <div id="release_images">
    Images
  </div>
</div>


<div id="release_content">
  <p><%= link_to 'Edit Release', edit_client_release_path(@release.client, @release) %></p>

  <%= @release.body.html_safe %>
</div>

