<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @subscription.user_id %>
</p>

<p>
  <b>Subscription:</b>
  <%= @subscription.subscription_id %>
</p>

<p>
  <b>Status:</b>
  <%= @subscription.status %>
</p>


<%= link_to 'Edit', edit_membership_path(@subscription) %> |
<%= link_to 'Back', memberships_path %>
