<h1>Preview</h1>
<h2><%= @release.headline %></h2>
<h2><%= @release.sub_headline %></h2>


<div id="release_preview_right">
  <div id="share">
    Share Release: <br />
    <span id="share_link"><%= view_release_url(@release) %></span><br />
    <%= link_to 'Copy', '#', :id => :share_button %>
    <%= form_tag 'email_release' do %>
      <%#= hidden_field_tag 'id' %>
      <%= text_field_tag 'email' %>
      <span id="email_release"><%= submit_tag 'Email Link' %></span>
    <% end %>
  </div>

  <div id="release_link">
    <%= @release.link %>
  </div>

  <div id="releas_contact_info">
    <%= @release.user.full_name %><br />
    555-1212<br />
    <%= @release.user.email%><br />
  </div>

  <div id="release_images">
    Images
  </div>
</div>


<div id="release_content">
  <p><%= link_to 'Edit Release', edit_client_release_path(@release.client, @release) %></p>

  <%= @release.body.html_safe %>
</div>

