<h1>Preview</h1>
<div><%= link_to "Schedule Release", schedule_release_path(@release) %></div>
<h2><%= @release.headline %></h2>
<h2><%= @release.sub_headline %></h2>


<div id="release_preview_right">
  <div id="share">
    Share Release: <br />
    <span id="share_link"><%= view_release_url(@release) %></span><br />
    <%= link_to 'Copy', '#', :id => :share_button %>
    <%= form_tag 'email_release' do %>
      <%= hidden_field_tag 'id', @release.id %>
      <%= text_field_tag 'email' %>
      <span id="email_release"><%= submit_tag 'Email Link' %></span>
    <% end %>
  </div>

  <div id="release_link">
    <%= @release.link %>
  </div>

  <div id="release_contact_info">
    <%= @release.user.full_name %><br />
    555-1212<br />
    <%= @release.user.email%><br />
  </div>

  <div id="release_images">
    Images
  </div>
</div>


<div id="release_content">
  <p><%= link_to 'Edit Release', edit_client_release_path(@release.client, @release) %></p>

  <%= @release.body.html_safe %>
</div>
<br /><br />

<div id="picked_up_releases">
  <h4>Picked up by</h4>
  <% @pickups.each do |pickup| %>
    <strong><%= pickup.media_list.company %></strong> picked up <strong><%= @release.name %></strong> on <%= pickup.created_at.strftime('%m/%d/%y') %> published for <%= @release.client.name %>
    <%= link_to "(Send Message)", new_release_media_list_media_contact_message_path(@release, pickup.media_list) %><br />
  <% end %>
</div>
<br /><br />
<div id="media_contact_messages">
  <h4>Messages</h4><br />
  <% @media_contact_messages.each do |media_contact_message| %>
    From: <%= detect_who_sent(media_contact_message) %> on <%= media_contact_message.created_at.strftime('%m/%d/%y') %> at <%= media_contact_message.created_at.strftime('%H:%m') %><br />
    To: <%= detect_recipient_for(media_contact_message) %><br />
    <%= media_contact_message.message %>
    <br /><br />
  <% end %>
</div>


