<h1>New Distribution List</h1>

<%=  # @TODO - add option to select from existing distribution list  %>

<%= form_for [@release, @distribution_list] do |f| %>

  <p>
    <%= f.label "I'd like to call this list..." %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label "Where should it go?" %><br />
    <%= f.select :where, DistributionList::COUNTRY_OR_REGION, {:include_blank => true } %><br />
    <%= f.select :where_area, us_states_plus_regions, {:include_blank => true } %><br />
  </p>

  <p>
    <%= f.label "Who is it for?" %><br />
    <%= f.select :who, DistributionList::MEDIA_TYPE, {:include_blank => true } %><br />
    <%= f.select :who_sub, DistributionList::MEDIA_SUB_GENRE, {:include_blank => true } %><br />
  </p>

  <p>
    <%= f.label "What is your article about?" %><br />
    <%= f.select :what, DistributionList::PRIMARY_SUBJECT, {:include_blank => true } %><br />
    <%= f.select :what_sub, DistributionList::NICHE, {:include_blank => true } %><br />
  </p>

  <p><%= f.submit "Build this list" %></p>

<% end %>

