<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "BaxterGate app", '#', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",    '#' %></li>
          <li><%= link_to "Contact",    '#' %></li>
          <% if user_signed_in? %>
            <li>Logged in as <%= current_user.full_name %> (<%= link_to "Sign out", destroy_user_session_path, method: :delete %>)</li>
          <% else %>
            <li><%= link_to "Sign in", new_user_session_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>